#######################################################################################
# Copyright ETSI Contributors and Others.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#######################################################################################

# Location where credentials should be saved
export CREDENTIALS_DIR=${CREDENTIALS_DIR:-${OSM_HOME_DIR}/.credentials}; export CREDENTIALS_DIR=$(readlink -f "${CREDENTIALS_DIR}")

# Base location where repos are cloned
export WORK_REPOS_DIR=${WORK_REPOS_DIR:-${OSM_HOME_DIR}/repos}; export WORK_REPOS_DIR=$(readlink -f "${WORK_REPOS_DIR}")

# Locations where each relevant repo is cloned
export FLEET_REPO_DIR=${FLEET_REPO_DIR:-"${WORK_REPOS_DIR}/fleet-osm"}
export SW_CATALOGS_REPO_DIR=${SW_CATALOGS_REPO_DIR:-"${WORK_REPOS_DIR}/sw-catalogs-osm"}

# Remove local folders prior to clone?
export REMOVE_LOCAL_DIR_BEFORE_CLONING=${REMOVE_LOCAL_DIR_BEFORE_CLONING:-"true"}

# Gitea's default values file
export GITEA_CHART_VALUES_FILE=values-standalone-ingress-ssh2222.yaml

# Gitea's admin user
export GITEA_ADMINISTRATOR_USERNAME=${GITEA_ADMINISTRATOR_USERNAME:-osm-admin}
export GITEA_ADMINISTRATOR_TOKEN_NAME=${GITEA_ADMINISTRATOR_TOKEN_NAME:-admin-token}

# Gitea's regular user
export GITEA_STD_USERNAME=${GITEA_STD_USERNAME:-osm-developer}
export GITEA_STD_TOKEN_NAME=${GITEA_STD_TOKEN_NAME:-developer-token}

# Base name for age keys for management cluster
export AGE_KEY_NAME_MGMT=${AGE_KEY_NAME_MGMT:-age.mgmt}

# Name of the project for the OSM administrator
export MGMT_PROJECT_NAME=${MGMT_PROJECT_NAME:-"osm_admin"}
